.table__cell__header {
  color: darkcyan;
  font-weight: bolder;
}
.table__cell {
  color: darkcyan;
}
.table__body__decks__container {
  width: 100%;
  color: darkcyan;
}
.decks__container {
  display: flex;
  flex-direction: column;
  color: darkcyan;
  width: 100%;
}
.decks__title {
  display: flex;
  justify-content: center;
  background-color: HEADER_COLOR;
}
.containers {
  display: flex;
  flex-direction: column;
  height: max-content;
  border: 2px solid darkcyan;
  border-radius: 5px;
  background-color: white;
  width: 50%;
}

.headers {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-bottom: 0px;
  margin-top: 0px;
  border-bottom: 1px solid darkcyan;
  background-color: HEADER_COLOR;
}
.content {
  display: flex;
  flex-direction: column;
}
