.listItemText {
  width: 100%;
  color: darkcyan;
  align-items: center;
}
.crypt__list {
  width: 100%;
  background-color: white;
}

.list__item {
  width: 30%;
  color: darkcyan;
}
.list__item__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  color: darkcyan;
}
.list__item__icons span {
  margin-top: 0.2rem;
  background-color: darkred;
  text-align: center;
  width: 1rem;
  border: 1px black solid;
  border-radius: 45%;
  color: white;
  margin-left: 0.3rem;
}

.list__avatar__icons {
  display: flex;
  margin-right: -1rem;
}
.disc__content {
  display: flex;
  flex-direction: row;
}

.avatar__disciplines__icons {
  display: flex;
  flex-direction: column;
}
.list__left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal {
 
  color: darkcyan;
}
.modal__content {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  left: 20%;
  right: 20%;
  top: 5rem;
}
.modal__right{
  display:flex;
  flex-direction: column;
  justify-content: space-between ;
  background-color: azure;
}
.button__container{
  display:flex;
  background-color: lightgrey;
  justify-content: space-between;
}
.modal__right__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:28em;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 0 15px #ddd;
  overflow-y: auto;
  overflow-x: auto;
}
.modal img {
  border: 2px solid #000;
  box-shadow: 0 0 15px #ddd;
}

.clan {
  display: flex;
  align-items: center;
}

.clan__avatar__icon {
  display: flex;
  margin-left: 0.5rem;
}

.title {
  border-bottom: 2px black solid;
  }

.modal__right__bottom{
display:flex;
flex-direction: column;
}
.span__no__result{
  display:flex;
  justify-content: center;
  color:darkcyan;
}




