.navbarList {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkcyan;
}
.navbarList h3{
    color:darkcyan;
}
.navbarList__left {
  display: flex;
}
.navbarList__right {
  display: flex;
}
