.slider {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  margin-right: 2em;
}

.slide__label {
  display: flex;
  align-items: center;
  margin: 1em;
}
