.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: darkcyan;
  border-bottom: 1px solid darkcyan;
  background-color: black;
  padding: 0.8rem 0;
  width: 100%;
  min-width: 100%;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  height: 4rem;
  margin-left: 1rem;
}

.header__center h3 {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  color: darkcyan;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#avatar {
  margin-left: 1rem;
}
.userInfo {
  display: flex;
  direction: column;
  align-items: center;
}
.userInfo h5 {
  margin-left: 1rem;
}


/* RESPONSIVE */
/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) {
}

/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) {
}

/* Móviles en vertical */
@media (max-width: 480px) {

  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: darkcyan;
    border-bottom: 1px solid darkcyan;
    background-color: black;
    padding: 0.8rem 0;
    width: 100em;
  }
  .userName{
    display:none;
  }
  .logoWeb{
    display:none;
  }
  .siteName{
    font-size: small;
  }
}