.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: darkcyan;
  border-bottom: 1px solid darkcyan;
  background-color: black;
  padding: 0.8rem 0;
  width: 100%;
  min-width: 100%;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  height: 4rem;
  margin-left: 1rem;
}

.header__center h3 {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  color: darkcyan;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#avatar {
  margin-left: 1rem;
}
.userInfo {
  display: flex;
  direction: column;
  align-items: center;
}
.userInfo h5 {
  margin-left: 1rem;
}

@media (max-width:600px){
  
  *{
    font-size: small;
  }
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: darkcyan;
    border-bottom: 1px solid darkcyan;
    background-color: black;
    padding: 0.8rem 0;
    width: 100em;
  }
}