.page__denied__access{
    position:absolute;
    left: 0;
    top:0;
    width:100%;
    height: 1000vh;
    color: red;
    background-color:white;
    text-align: center;
}
.denied__access__title{
    margin:1rem;
}
.denied__access__span{
    display:block;
    position:relative;
    color: black;
    display: inline;
}
.denied__access__image{
    border-radius: 50%;
    border:1px solid black;
    margin-top: 2rem;
    box-shadow: 5px 10px 8px darkslategray ;
}
