.sidebar {
  display: absolute;
  border-right: 1px solid darkcyan;
  background-color: black;
  padding: 1rem;
  color: darkcyan;
  width: 20%;
  max-width: 20%;
  min-height: 100vh;
  opacity:1;
  visibility: visible;
  transition: all 1s ;
  z-index: 0;
   }
   .hidden{
  background-color: black;
  width: 0%;
  max-width: 20%;
  min-height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ;
   }
.list {
  width: 100%;
}
.list__container {
  width: 100%;
}
