.sidebar {
  display: flex;
  border-right: 1px solid darkcyan;
  background-color: black;
  padding: 1rem;
  color: darkcyan;
  width: 20%;
  max-width: 20%;
  min-height: 100vh;
  z-index: 0;
   }
.list {
  width: 100%;
}
.list__container {
  width: 100%;
}
