.sidebar {
  display: absolute;
  border-right: 1px solid darkcyan;
  background-color: black;
  padding: 1rem;
  color: darkcyan;
  width: 20%;
  max-width: 20%;
  min-height: 100vh;
  opacity:1;
  visibility: visible;
  transition: all 1s ;
  z-index: 0;
   }
   .hidden{
  background-color: black;
  width: 0%;
  max-width: 20%;
  min-height: 100vh;
  opacity: 0;
  display:none;
  transition: all 1s ;
   }
.list {
display:flex; 
flex-direction:column;
align-items: center;
width: 100%;
}
.list__container { 
  width: 100%;
}
@media (max-width:480px) {
  .sidebar {
  display: flex;
  justify-content: center;
  border-right: 1px solid darkcyan;
  background-color: black;
  padding: 1rem;
  color: darkcyan;
  opacity:1;
  visibility: visible;
  transition: all 1s ;
  z-index: 0;
  min-width: 100%;
  padding:0;
   }

   .hidden{
  background-color: black;
  width: 0%;
  max-width: 480px;
  min-height: 100vh;
  opacity: 0;
  display: none;
  transition: all 1s ;

   }
  .list__container {
    width: 100%;
    max-width: 480px;
    text-align: center;
    font-size: medium;
  }
}
