.listItemText {
  width: 100%;
  color: darkcyan;
  align-items: center;
}
.crypt__list {
  width: 100%;
  background-color: white;
}

.list__item {
  width: 30%;
  color: darkcyan;
}
.list__item__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  color: darkcyan;
}
.list__item__icons span {
  margin-top: 0.2rem;
  background-color: darkred;
  text-align: center;
  width: 1rem;
  border: 1px black solid;
  border-radius: 45%;
  color: white;
  margin-left: 0.3rem;
}

.list__avatar__icons {
  display: flex;
  margin-right: -1rem;
}
.disc__content {
  display: flex;
  flex-direction: row;
}

.avatar__disciplines__icons {
  display: flex;
  flex-direction: column;
}
.list__left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: azure;
}

.modal img {
  border: 2px solid #000;
  box-shadow: 0 0 15px #ddd;
}

.clan {
  display: flex;
  align-items: center;
}

.clan__avatar__icon {
  display: flex;
  margin-left: 0.5rem;
}

.title {
  border-bottom: 2px black solid;
}

.modal__right__bottom {
  display: flex;
  flex-direction: column;
}
.span__no__result {
  display: flex;
  justify-content: center;
  color: darkcyan;
}
.modal__right__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 28rem;
  min-width: 28rem;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-y: auto;
  overflow-x: auto;
}

.cost {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal {
  color: darkcyan;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.modal__content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  max-height: 27rem;
  overflow-y: auto;
}

.button__container {
  display: flex;
  background-color: lightgrey;
  justify-content: space-between;
}
.disc {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card__type {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.artist {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ruling {
  display: flex;
  flex-direction: column;
}
.clan__data {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card__data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* RESPONSIVE */
/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) {
}

/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) {
}

/* Móviles en vertical */
@media (max-width: 480px) {
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }
  .modal__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    max-height: none;
    overflow-y:unset;
  }
  .modal__right__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: fit-content;
    max-width: none;
  }
  .modal img {
    border: 0px;
  }
  .cardImage {
    display: flex;
    justify-content: center;
    background-color: black;
  }
}
