.app {
  width: 100%;
height: 100%;
position: auto;
background-color: black;
}
.mainApp {
  display: flex;
  background-color: black;
  width: 100%;
  height: 100%;
  transition: all 1s ;
}
.main__header {
  display: flex;
  width: 100%;
}
html {height: 100%;}
/* RESPONSIVE */
/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) {
}

/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) {
}

/* Móviles en vertical */
@media (max-width: 480px) {
  * {
    font-size: smaller;
  }
  .mainApp {
  transition: all 10s ;
  height: fit-content;
}
  .main__header {
    display: flex;
  }
}
