.navbarList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 0px;
  margin-top: 0px;
  border-bottom: 1px solid;
}

.navbarList__left {
  display: flex;
  margin-left: 1rem;
}
.navbarList__right {
  display: flex;
  margin-right: 1rem;
}
.disc__icon {
  padding: 2px;
}
.navbar__bottom {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-left: 1rem;
  border-bottom: 1px solid;
  padding-bottom: 1rem;
}
.filter__container {
  margin-top: 8.5rem;
  margin-right: 0.5rem;
  display: inline;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 23rem;
  max-height: 40em;
  height: fit-content;
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 1px solid;
  box-shadow: black 2px 3px;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: auto;
}
.opacity__disc {
  opacity: 0.3;
}
.filter__clan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: max-content;
  width: 100%;
}
.select__clan {
  display: inline-block;
  width: 14em;
  margin: 0.1rem;
  height: max-content;
}

.filter__sect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: max-content;
  width: 100%;
  margin: 0.2rem;
}
.select__sect {
  width: 14em;
  height: 2rem;
  margin: 0.1rem;
}
.filter__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: max-content;
  width: 100%;
  margin: 0.2rem;
}
.select__title {
  width: 14em;
  height: 2rem;
}
.select__clan__avatar__icon {
  display: flex;
  margin-right: 1rem;
}

#clan__select__id {
  display: flex;
  align-items: center;
  height: 2rem;
}

.filter__props {
  display: flex;
}
.prop__column {
  flex: 50%;
}
.prop__pair {
  display: flex;
  align-items: center;
  margin-left: 2em;
}
.disc__content {
  display: flex;
  flex-direction: row;
}

.avatar__disciplines__icons {
  display: flex;
  flex-direction: column;
}
.button__rotation {
  transform: rotate(180deg);
}
/* Increase the specificity */
.searchIcon.Mui-disabled {
  opacity: 0.4;
}
/* RESPONSIVE */
/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) {
}

/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) {
  .navbarList h3 {
    font-size: small;
  }
}

/* Móviles en vertical */
@media (max-width: 480px) {
  .navbarList h3 {
    font-size: small;
  }
  .filter__container {
    margin-top: 0rem;
    margin-right: 0rem;
    display: inline;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    max-width: none;
    max-height: none;
    height: 100%;
    border-left: 0px solid;
    border-right: 0px solid;
    border-bottom: 0px solid;
    box-shadow: none;
    border-radius: 0px;
    overflow-y: auto;
    overflow-x: auto;
  }
}
