.cost{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.modal {
  min-width: 70rem;
  min-height: 50vh;
  max-width: 70rem;
  max-height: 50vh;
  color: darkcyan;
}
.modal__content {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  left: 20%;
  right: 20%;
  top: 5rem;
}
.modal__right{
  display:flex;
  flex-direction: column;
  justify-content: space-between ;
  background-color: azure;
}
.button__container{
  display:flex;
  background-color: lightgrey;
  justify-content: space-between;
}
.modal__right__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:28em;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 0 15px #ddd;
  overflow-y: auto;
  overflow-x: auto;
}
.modal img {
  border: 2px solid #000;
  box-shadow: 0 0 15px #ddd;
}
